.contain {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.input-box > input, button {
    margin-top: 20px;
}

input {
    width: 40%;
    height: 30px;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: -1px 2px 5px 1px rgba(184,173,184,1);
    padding: 5px;
}

button {
    width: 80%;
    height: 30px;
    font-size: 16px;
    border: 1px solid;
}

@media (max-width: 610px) {
    .contain {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .input-box {
        justify-content: center;
    }

    input {
        width: 100%;
    }

    #index {
        margin-left:-20%;
    }
}
